.app {
  text-align: center;
  background-color: #282c34;
  color:blanchedalmond;
}

.appHeader, .appFooter {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.appMain {
  min-height: 200vh;
}
